.LargeImage {
    max-width: 450px;
    height: auto;
    margin-bottom: 100px;
}

.SmallImage {
    max-width: 250px;
    height: auto;
}

.HomePageImages {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: right;
    justify-content: center;
}