.App {
  text-align: center;
  background-color: #FFF2E5;
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overscroll-behavior: none;
  overflow: auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF2E5;
}